* {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
  overflow: hidden;
  background: url('imgs/farm.svg') no-repeat bottom/100%,
  linear-gradient(to bottom right, #fe8c00 45%, #f83600);
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Lobster Two', cursive;
}

header h3 {
  margin: 0;
  font-weight: normal;
  font-size: 3.2em;
  background: linear-gradient(to bottom, #6441a5, #2a0845 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  max-width: 488px;
  max-height: 107px;
  padding: 5px;
}

img {
  width: 100%;
  height: 100%;
}

nav {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 75px;
  width: 100%;
  max-width: 1248px;
}

.space-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width : 100%;
  max-width : 1248px;
  margin-bottom: 100px;
}

.space {
  display: flex;
  position: relative;
  background-color: #efecf6;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  width: 225px;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(68, 68, 68, 0.6);
  min-height: auto;
  /*dont select text on click*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.accumulate-button,
.add-space-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #efecf6;
  border: none;
  min-width: 110px;
  height: 50px;
  margin: 10px;
  padding: 10px;
  box-shadow: 0 5px 15px rgba(68, 68, 68, 0.6);
  transition: all 0.4s;
  /*dont select text on click*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.accumulate-button {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.1s ;
}

.accumulate-button:active {
  box-shadow: 0 1px 5px #444;
}

.accumulate-button:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  background: #6441a5;
  border-radius: 100%;
  opacity: 0.5;
  transform: scale(0);
}

.accumulate-button:after {
  visibility: hidden;
}

.accumulate-button:focus:after {
  visibility: visible;
}

.accumulate-button:not(:active):after {
  animation: ripple 0.7s;
}

.add-space-button {
  position: relative;
}

.add-space-dropdown {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 115px;
  width: auto;
  margin-left: 0;
  transition: all 0.4s;
  z-index: 10000;
}

.add-space-dropdown a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 0.7em;
  width: 95px;
  margin: 0.3em;
  background: #6441a5;
  color: #fff;
  box-shadow: 0 1px 5px #444;
  z-index: 10000;
}

.add-space-dropdown a:active{
  background: #2a0845;
}

.gather-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.round-info-container {
  position: absolute;
  padding: 10px;
  left: 12px;
  bottom: 0;
  margin: 10px;
  background: #6441a5;
  color: #fff;
  box-shadow: 0 5px 15px rgba(68, 68, 68, 0.6);
  transition: all 0.4s;
  z-index: 5;
}

.round-info {
  display: flex;
}

.round-info-container h1 {
  margin:  0 10px;
  text-align: center;
  font-weight: normal;
  color: #fff;
 /* background: linear-gradient(to bottom, #6441a5, #2a0845);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
}

.prev-value {
  position: absolute;
  background: rgba(53, 255, 7, 0.8);
  padding: 3px 7px;
  border-radius: 100%;
  top: 5px;
  right: 5px;
  margin-left: 0;
  transition: all 0.3s;
}

.active {
  background: #6441a5;
  color: #fff;
  box-shadow: 0 1px 5px #444;
}

.hidden {
  opacity: 0;
  margin-left: 1000px;
  z-index: 1000;
}

.name {
  margin: 0 0 10px;
  font-size: 1.7em;
  font-weight: bold;
  margin: 0;
}

.number {
  margin: 5px 0;
  font-size: 2.2em;
  font-weight: bold;
}

.type {
  margin: 0;
}

.wood,
.clay,
.reed,
.food,
.sheep,
.stone,
.boar,
.cow {
  background-size: 30%;
  background-position: 5% 48%;
  background-repeat: no-repeat;
}

.wood {
  background-image: url('imgs/tree.png');
}

.clay {
  background-image: url('imgs/clay.png');
}

.reed {
  background-image: url('http://images.clipartpanda.com/reed-clipart-marsh-reed-clipart-1.jpg');
}

.food {
  background-image: url('https://www.shareicon.net/download/2016/10/07/840475_food_512x512.png');
}

.sheep {
  background-image: url('http://quantum-sheep.com/wp-content/themes/black-letterhead/images/icon-quantumsheep.png');
}

.boar {
  background-image: url('https://www.emojibase.com/resources/img/emojis/hangouts/1f417.png');
}

.cow {
  background-image: url('http://www.iconarchive.com/download/i24275/martin-berube/animal/cow.ico');
}

.stone {
  background-image: url('https://vignette4.wikia.nocookie.net/play-rust/images/8/85/Stones_icon.png/revision/latest?cb=20150405123145');
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes pulse {
  0%{
    transform: scale(1.1, 1.3);
  }
  100%{
    transform: scale(1, 1);
  }
}


@media (max-width: 800px) {
  .space {
    width: 150px;
    min-height: auto;
    justify-content: space-between;
  }

  .number {
    font-size: 1.5em;
    margin: 0;
  }

  header {
    flex-direction: column;
  }

  .round-info-container {
    position: static;
    width: 100%;
  }

  .wood,
  .clay,
  .reed,
  .food,
  .sheep,
  .stone,
  .boar,
  .cow {
    background-size: 25%;
    background-position: 5% 50%;
  }

  .gather-button {
    margin-top: 0;
  }

  header h3 {
    font-size: 2.7em;
  }
}

@media (max-width: 1090px) {
  .add-space-dropdown {
    flex-direction: column;
    top: 55px;
    left: -5px;
  }

  .add-space-dropdown a {
    padding: 20px 0;
  }

  .round-info {
    display: flex;
    justify-content: center;
  }

  .name {
    margin: 0;
  }

  .type {
    margin: 0;
  }
}

